@{
    ViewData["Title"] = "Home Page";
}

<h1>Transient 1: @ViewBag.transient_Time1</h1>
<h1>Transient 2:@ViewBag.transient_Time2</h1>

<h1>Singleton 1: @ViewBag.singleton_Time1</h1>
<h1>Singleton 2: @ViewBag.singleton_Time2</h1>

<h1>Scoped 1: @ViewBag.scoped_Time1</h1>
<h1>Scoped 2: @ViewBag.scoped_Time2</h1>
